<div class="left-container">
  <div class="container-header">
    <div class="container-header-title">
      Allstate Extended Vehicle Care
    </div>
    <div class="container-header-desc">
      Protect your vehicle from unexpected repair costs
    </div>
  </div>
  <list />
</div>
