.left-container {
    padding: 0 20px;
    width: 50%;
}
.container-header {
    padding: 30px 20px;
    background: #0c5581;
    text-align: center;
    font-size: calc(100vw * 20 / 1920);
}
@media (width <= 760px) {
    .left-container {
        width: 100%;
    }
    .container-header {
        font-size: calc(100vw * 20 / 760);
    }
}
.container-header-title {
    font-size: 1.5em;
    font-weight: 500;
    color: #76c7ff;
}
.container-header-desc {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.57);
}
